@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Poppins&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
body{
  margin: 0;
  padding: 0;
  background-color: #202021;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.nav{
  background-color: #202021;
  color: #FEFFFE;
  display: flex;
  position: fixed;
  top: 0;
  font-weight: bold;
  width: 100%;
  justify-content: space-between;
  height: 65px;
  z-index: 1;
  font-size: 1.2rem;
  align-items: center;
  padding: 0 1.4rem;
  filter: drop-shadow(0px 0px 15px rgb(12, 12, 12));
}
.skillsBar{
  margin: 2rem 20rem;
  color: #FEFFFE;
  font-size: 2rem;
}
.App{
  position: relative;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}
.main.aboutSec, .main.skillSection{
  position: absolute;
  width: 100%;
}
.footer>p{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem !important;
}
.footer{
  color: #c6dac9;
  height: fit-content;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 3PX solid #cbc5c5;
  font-size: 1rem;
  line-height: 100px;
  overflow: hidden;
}
.contents{
  position: absolute;
  background-color: #202021;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 5rem;
  padding-bottom: 18rem;
  top: 76%;
  width: 65%;
  font-size: 1.2rem;
  color: #cbc5c5;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgb(26, 26, 26);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.background{
  background-image: url('./Assets/backgroundImage.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 430px;
}
.backgroundTypewritter{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -250px;
}
.background span{
  font-family: "Lucida Sans","Lucida Sans Regular","Lucida Grande","Lucida Sans Unicode",Geneva,Verdana,sans-serif;
  color: #FEFFFE;
  font-weight: bolder;
}
.profile{
  background-image: url('./Assets/brijesh.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 15px rgb(12, 12, 12));
}
.icons{
  display: flex;
  align-items: center;
  gap: 1.3rem;
  margin-top: 1.8rem;
}
.social{
    color: #FEFFFE;
    cursor: pointer;
}
.social:hover{
  filter: invert(100%);
  cursor: pointer;
  transition: all 0.5s linear !important;
}
.contents p{
  font-size: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #FEFFFE;
}
.name{
  font-size: 1.2rem;
  color: #FEFFFE;
}

.about>p{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.about img{
  width: 35px;
}
.pdetails span{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  color: #cbc5c5;
}
.pdetails p{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #cbc5c5;
  padding: 0.7rem 0;
}
.pdetails p:nth-child(2n+1){
  border-top: 1px solid #cbc5c5;
  border-bottom: 1px solid #cbc5c5;
}
.about{
  width: 100%;
  overflow-wrap: break-word;
  overflow: hidden;
}
.education span{
  color: #cbc5c5;
}
.education>span{
  display: flex;
  flex-direction: column;
  color: #cbc5c5;
  padding: 0.4rem 0;
}
.collage span:nth-child(3){
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.collage>span:first-child{
  color: #FEFFFE;
}
.collage:nth-child(2){
  border-top: 1px solid #cbc5c5;
  border-bottom: 1px solid #cbc5c5;
  padding: 1rem 0;
}
.collage:first-child{
  padding-bottom: 1rem;
}
.collage:last-child{
  padding: 1rem 0;
}
.skills{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-right: 4rem;
}
.aboutskill{
  overflow: hidden;
}
.skills>span{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
progress {
  border: none;
  width: 550px;
  height: 16px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
}
progress::-webkit-progress-value {
  background: #c6dac9;
  border-radius: 10px;
}

progress::-webkit-progress-bar {
  background: #767373;
  border-radius: 10px;
}
[data-aos="fade-right"]{
  opacity: 1;
  transform: translateZ(0);
  transition-timing-function: ease;
  transform: translate3d(-100px,0,0);
}
a{
  text-decoration: none;
  color: #767373;
}
.socialMedia{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #767373;
}
.socialMedia :hover{
  color: #c6dac9;
  cursor: pointer;
  transition: all 0.4s linear;
}
.projectContainer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 1.5rem;
}
.backgroundProject{
  height: 200px;
  width: 380px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #c6dac9;
  overflow: hidden;
}
.projectDetails{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #000000c7;
  overflow: hidden;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projectDetails>span{
  padding: 0 2rem;
}
.projectDetails>span p:first-child{
  font-size: 2rem;
}
.projectDetails>span p:nth-child(n+2){
  font-size: 1rem;
  padding: 0.5rem 0;
}
.backgroundProject:hover .projectDetails {
  bottom: 0;
  height: 100%;
  cursor: pointer;
  transition: 0.7s ease;
}
.HeaderName{
  font-size: 3.8rem;
}
.HeaderTitle {
  font-size: 2rem;
}
.downloadResume{
  margin: 3rem 0;
  text-align: center;
}
.downloadResume p{
  padding: 2rem;
}
.downloadResume span{
  border: 2px solid #c6dac9;
  padding: 1rem 7rem;
  cursor: pointer;
}
.downloadResume span:hover{
  background-color: #FEFFFE;
  color: #202021;
}
.skillsTab a{
  color: #cbc5c5;
}
.skillsTab{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 5rem;
  padding-bottom: 18rem;
  top: 76%;
  width: 65%;
  font-size: 1.2rem;
  color: #cbc5c5;
  height: fit-content;
  border-radius: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.skillsTab p{
  font-size: 3rem;
}
.aboutComp{
  font-size: 3rem;
  color: #cbc5c5;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  margin-top: 2rem;
}
.aboutSecstion{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 5rem;
  padding-bottom: 18rem;
  top: 76%;
  width: 65%;
  font-size: 1.2rem;
  color: #cbc5c5;
  height: fit-content;
  border-radius: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.getInTouch{
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  gap: 4rem;
  width: 100%;
  border-top: 2px solid #c6dac9;
  padding-top: 3rem;
  overflow: hidden;
}

.getInTouchHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.getInTouchHeader p{
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 5px;
  text-align: center;
}
.getInTouchHeader span{
  display: block;
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  text-align: center;
}
.formItems form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.formItems div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formItems div input{
  width: 70%;
  height: 50px;
  padding: 0.5rem;
  font-size: 1.3rem;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
.formItems div textarea{
  width: 70%;
  height: 200px;
  padding: 0.5rem;
  font-size: 1.3rem;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
.formItems button{
  display: block;
  width: fit-content;
  padding: 1rem 4rem;
  font-size: 2rem;
  font-weight: bold;
}
.formItems button:hover{
  background-color: #c6dac9;
  cursor: pointer;
}
@media only screen and (max-width: 480px){
  .background{
    height: 370px;
  }
  .contents{
    width: 90%;
    padding: 0 2rem;
    font-size: 1rem;
    border-radius: 5px;
  }
  .contents p {
    font-size: 1.5rem;
  }
  .pdetails p, .pdetails span{
    font-size: 0.8rem;
  }
  .skills{
    margin-right: 0;
    gap: 1.5rem;
  }
  .skills>span{
    flex-wrap: wrap;
  }
  .skills>span label{
    padding: 0.5rem;
    font-size: 1.1rem;
  }
  .profile{
    margin-top: 1.5rem;
  }
  .backgroundProject{
    height: 160px;
    width: 280px;
  }
  .HeaderName{
    font-size: 1.9rem !important;
  }
  .HeaderTitle{
    font-size: 1.3rem !important;
  }
  .projectContainer{
    margin-bottom: 20rem;
    justify-content: center;
  }
  .socialMedia{
    gap: 2rem;
    padding: 0 1rem;
  }
  .downloadResume span {
    padding: 1rem 4rem;
  }
  .aboutSecstion{
    width: auto;
    margin-bottom: 15rem;
  }
  .aboutSecstion{
    padding: 3rem 2rem;
  }
  .formItems div{
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .formItems div input,.formItems div textarea{
    width: 100%;
  }
  .formItems button{
    padding: 0.5rem 2rem;
  }
  .skillsTab{
    width: 100%;
    padding: 3rem 2rem;
  }
  .getInTouchHeader span{
    width: 200px;
  }
  .projectDetails{
    height: 100%;
    bottom: auto;
  }
  .projectDetails span p:nth-child(3){
    display: none;
  }
  .projectDetails>span{
    padding: 0 1rem;
  }
}